In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy

from sqlalchemy import create_engine
%matplotlib inline

engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/shipwrecks')
connection = engine.connect()

In [2]:
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/shipwrecks')
connection = engine.connect()

In [3]:
locations= pd.read_sql('select * from shipwrecks', connection)
locations.head()

,id,name,type,lat,lon
0,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076
1,1927,WAHNAPITAE,Not Charted,41.516717,-81.716519
2,1936,CLEVECO,Not Charted,41.626714,-81.536508
3,1940,F.H. PRINCE,Not Charted,41.650044,-82.599894
4,1965,CASE,Not Charted,41.796711,-82.816575